body{font-family:Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:.7em}.hide{display:none}.show{display:initial}a{color:#000;font-weight:400;text-decoration:none}a:hover{text-decoration:underline}a.headerLink{color:#fff;font-weight:700;text-decoration:none}a.headerLink:hover{text-decoration:underline}a.menuBoxHeadingLink{color:#616060;font-weight:700;text-decoration:none}a.menuBoxContentLink{color:#616060;font-weight:400;text-decoration:none}a.menuBoxContentLink:hover{text-decoration:underline}a.splitPageLink{color:#00F;font-weight:400;text-decoration:none}a.splitPageLink:hover{text-decoration:underline;background-color:#FF3}.menuBoxHeading{color:#616060;background-color:#fff}.menuBoxContent{color:#616060}body{background-color:#fff;color:#000;margin:0}.headerBar{background-color:#B3BAC5}.headerBarContent{color:#fff;font-weight:700;padding:2px}.columnLeft{background-color:#F0F1F1;border-color:#999;border-width:1px;border-style:solid;padding:2px}.pageHeading{font-size:1.5em;color:#727272;font-weight:400}.dataTableHeadingRow{background-color:#C9C9C9}.dataTableHeadingContent{font-size:12px;color:#fff;font-weight:700}.dataTableRow{background-color:#F0F1F1}.dataTableRowSelected{background-color:#DEE4E8}.dataTableRowOver{background-color:#FFF;cursor:pointer;cursor:hand}.dataTableContent{color:#000}.infoBoxHeading{color:#fff;background-color:#B3BAC5}.infoBoxContent{color:#000;background-color:#DEE4E8}.messageStackError,.messageStackWarning{background-color:#ffb3b5}.messageStackSuccess{background-color:#9f0}CHECKBOX,FILE,INPUT,RADIO,SELECT,TEXTAREA{font-family:Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif}FORM{display:inline}.formArea{background-color:#f1f9fe;border-color:#7b9ebd;border-style:solid;border-width:1px}
.label{background-color: #428bca;  border-radius: 0.25em;
	   color: #fff;
	   display: block;
	   font-size: 75%;
	   font-weight: bold;
	   float:left; 
	   padding: 0.2em 0.6em 0.3em;
	   text-align: center;
	   font-size: 12px;
	   margin-left:3px; 
	   font-family:tahoma; 
}
.glyphicon-remove{
	padding: 1px 5px;border-radius: 3px;
    font-size: 12px;
	display: inline-block;
    font-weight: bold;

    position: relative;color:#FFF;
}
.cat-select {
    background-color: #9ca1a9;
    color: #fff;
    font-family: tahoma;
    font-size: 15px;
    padding: 5px;
    text-align: right;
    width: 250px;
}
.formAreaTitle{font-family:Tahoma,Helveticy,Verdana,Arial,sans-serif;font-weight:700}.arabicTd{font-family:Tahoma,Helveticy,Verdana,Arial,sans-serif;font-weight:normal;}.formInput{text-align:right; font-family:Tahoma,Helveticy,Verdana,Arial,sans-serif;font-weight:normal;}.attributes-odd{background-color:#f4f7fd}.attributes-even{background-color:#fff}.specialPrice{color:red}.oldPrice{text-decoration:line-through}.fieldRequired{color:red}.smallText{font-family:tahoma}.errorText{color:red}.discount{font-size:11px;font-weight:700;color:red}.secError,.secInfo,.secSuccess,.secWarning{border:1px solid;margin:10px 0;padding:5px 10px 5px 50px;background-repeat:no-repeat;background-position:10px center;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}.secInfo{border-color:#00529B;background:url(../images/ms_info.png) 10px center no-repeat,url(../images/ms_info_bg.png) repeat-x #BDE5F8}.secSuccess{border-color:#4F8A10;background:url(../images/ms_success.png) 10px center no-repeat,url(../images/ms_success_bg.png) repeat-x #DFF2BF}.secWarning{border-color:#9F6000;background:url(../images/ms_warning.png) 10px center no-repeat,url(../images/ms_warning_bg.png) repeat-x #FEEFB3}.secError{border-color:#D8000C;background:url(../images/ms_error.png) 10px center no-repeat,url(../images/ms_error_bg.png) repeat-x #FFBABA}.secError p,.secInfo p,.secSuccess p,.secWarning p{padding:2px}#adminAppMenu{float:left;width:150px;padding:5px}#adminAppMenu ul{list-style:none;margin:-5px 0 -5px -10px;padding:0}#contentText{margin-left:160px}.ui-dialog{min-width:500px}