
.ui-widget {
	font-family: Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
	font-size: 11px;
}

body {
	overflow-x: hidden;
	background: #fff;
	color: #000;
	margin: 0px;
	font-size: 11px;
	font-family: Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
}

#bodyWrapper {
}

#bodyContent {
}

#header {
	width:100%; float:right;
}
.container_960{width:960px; margin:0 auto;}
select.select{       
	position:relative;
	z-index:10;
	width:67px !important;
	height:35px !important;
	line-height:30px;
}
span.select{
	padding-left:0px; color:#373f45;
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:67px;
	height:30px;
	line-height:30px;
	text-indent:10px;
	background:url(images/select-bg.jpg) no-repeat 0 0;
	cursor:default;
	z-index:1; font-family:calibri; font-size:14px;
}
#top{
	height: 40px;background-color:#007583;
}
#topMenu{
	height:83px;
	background-image:url('images/menu-bg.png');
}
#storeLogo {
	float: right;
	margin: 5px 35px;
}
#homeMenu{ float: right; height:48px; width:54px; border-left:2px solid #292929; border-right:2px solid #292929; background-image:url('images/menu-home-bg.png');  padding-top: 35px;
		   text-align: center; }
#infoMenu{ float: right;line-height:83px;}
#infoMenu ul{list-style-type: none; margin:0px;   }
#infoMenu li{display: inline; margin:0px 16px;    }
#infoMenu li a{color:#2f2f2f;   font-family: "Simplified Arabic";  font-size: 18px; text-decoration:none; font-weight: 700;}
#infoMenu li a:hover{color:#007583;   }
#headerMenu{ float: left;line-height:40px;}
#headerMenu ul{list-style-type: none; margin:0px;   }
#headerMenu li{display: inline; margin:0px 5px;  color:#FFF;   font-family: "Simplified Arabic";  font-size: 18px;   }
#headerMenu li a{color:#FFF;   font-family: "Simplified Arabic";  font-size: 17px; text-decoration:none; font-weight: bold;}
#headerMenu li a:hover{color:#ccc;   }

#headerShortcuts {
	float: left;
	margin-top:5px;
}
.left{float:left;}
.featured{float:left; width:70px; padding-left: 5px;}
.currencyBox{float:left; margin:0px 10px; }
.mycart{float:left; padding:5px;  }
.cartNb{color:#FFF;font-size:18px;font-family:calibri;}
.footer_title { color: #ffffff; font-family: "Simplified Arabic"; font-size: 16px;font-weight: bold;}
.footer_titlesm { color: #ffffff; font-family: "Simplified Arabic"; font-size: 14px;font-weight: bold;}
.footerLinks{  font-family: "Simplified Arabic"; color:#dddddd;  font-size:14px; font-weight: bold;  }
a.footerLinks:link{  font-family: "Simplified Arabic"; color:#dddddd;  font-size:14px; font-weight: bold; text-decoration:none; }
a.footerLinks:hover{  font-family: "Simplified Arabic";color:#de3036;  font-size:14px; font-weight:bold;  text-decoration:none;  }
.footerGray{ background-color:#3e3e3e; float:right; display:inline; width:100%;height:117px; padding-top:20px; }
.count{color: #000000; font-family: arial;font-size: 11px; font-weight: bold;}
.records:link {margin-right:7px; color: #000000;font-family: "Simplified Arabic";font-size: 15px;font-weight: bold;text-decoration: none;}
.records:hover{ color: #007583;}
.price{ color: #007583;}
.price:link{ color: #007583;font-family: "Simplified Arabic";  font-size:14px; font-weight: bold;}
.priceBox{height:28px; border:1px solid #8d8d8d;padding-right:8px;line-height:8px; background-image:url('images/price_box.png');}
.featuredLink:link {color: #000000;font-family: "Simplified Arabic";font-size: 17px;font-weight: bold;text-decoration: none;}
.featuredLink:visited {color: #000000;}
.grayBorder{border:1px solid #faf9ee;}
.boxTitle{height:40px;background-image:url('images/box-title-bg.png'); background-repeat:no-repeat;background-color:#00717f; line-height: 40px;
		  margin-top: 30px; padding-right: 15px;font-family: "Simplified Arabic";font-size: 19px;font-weight: normal;color:#FFF;  }
.boxCatTitle{height:40px;background-image:url('images/box-title-bg.png'); background-repeat:no-repeat;background-color:#00717f; line-height: 40px;
			 margin-top: 60px; padding-right: 15px;font-family: "Simplified Arabic";font-size: 19px;font-weight: normal;color:#FFF;}
.boxTitleLink:link {color: #FFF;font-family: "Simplified Arabic";font-size: 19px;font-weight:normal;text-decoration: none;}
.boxTitleLink:visited {color: #FFF;}
.boxTitleLink:hover{text-decoration:underline; }
.boxHeight{ height:145px; }
#columnLeft {
	padding-top: 5px;
}

#columnRight {
	padding-top: 5px;
}

.infoBoxContainer {  margin:0px 0px 20px 0px; }

.infoBoxHeading {
	/*  padding: 2px;*/
	font-size: 19px;
	font-weight:normal; 
	font-family: "Simplified Arabic";
	padding-right: 15px;
}

.infoBoxContents {
	padding: 10px 0px;
	font-size: 13px;
	line-height: 1.5;
	font-family: "Simplified Arabic";
	font-weight:700; 
}

.contentContainer {
	padding-bottom: 10px;
}

.contentContainer h2 {
	font-size: 16px;
	font-family: "Simplified Arabic";
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 5px;
	color:#007583;
}

.contentText, .contentText table {
	padding: 5px 0 5px 0;
	font-size: 13px;
	line-height: 1.5;
	font-family: tahoma;
	font-weight: normal;
}

.productListTable {
	padding: 5px;
	font-size: 11px;
	line-height: 1.5;
}

.productListTable tr.alt td {
	background-color: #eee;
    padding:  2px;
}

.fieldKey {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	font-family:tahoma;
	color:#007583;
}

.fieldValue {
	font-size: 11px;
	line-height: 1.5;
}

h1 {
	font-size: 18px;
	margin: 0px;
	color: #007583;
	font-weight: normal;
	font-family: tahoma;
}

img {
	border: 0;
}

p {
	font-size: 14px;
	line-height: 1.5;
	font-family: tahoma;
	color: #4b4b4b;
	margin:5px 0px 10px 0px; 
	text-align: justify;
}
table {
	font-size: 15px;
	line-height: 1.5;
	font-family: "Simplified Arabic";
}
#piGal {
	float: right;
	width: 250px;
}

#piGal img {
	max-width: 250px;
	height: auto;
}

.buttonSet {
	clear: both;
}

.buttonAction {
	float: right;
}

.boxText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.productsNotifications { background: #f2fff7; }
.orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }

A {
	color: #000000;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

FORM {
	display: inline;
}

TR.header {
	background: #ffffff;
}

TR.headerNavigation {
	background: #bbc3d3;
}

TD.headerNavigation {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background: #bbc3d3;
	color: #ffffff;
	font-weight : bold;
}

A.headerNavigation { 
	color: #FFFFFF; 
}

A.headerNavigation:hover {
	color: #ffffff;
}

TR.headerError {
	background: #ff0000;
}

TD.headerError {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #ff0000;
	color: #ffffff;
	font-weight : bold;
	text-align : center;
}

TR.headerInfo {
	background: #00ff00;
}

TD.headerInfo {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #00ff00;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

TR.footer {
	background: #bbc3d3;
}

TD.footer {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background: #bbc3d3;
	color: #ffffff;
	font-weight: bold;
}

.infoBox {
	background: #b6b7cb;
}

.infoBoxNotice {
	background: #FF8E90;
}

.infoBoxNoticeContents {
	background: #FFE6E6;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

TD.infoBoxHeading {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background: #bbc3d3;
	color: #ffffff;
}

TD.infoBox, SPAN.infoBox {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
	background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
	background: #f8f8f9;
}

TABLE.productListing {
	border: 1px;
	border-style: solid;
	border-color: #b6b7cb;
	border-spacing: 1px;
}

.productListingHeader {
	table-layout: fixed;
	color: #FFFFFF;
	font-weight: bold;
}

.productListingHeader A:hover {
	color: #FFFFFF;
}

.productListingData {
	table-layout: fixed;
}

A.pageResults {
	color: #007583;
    font-weight: bold;
	border:1px solid #c1bfbf;
	padding: 2px 5px; 
}
.pageSelected{	color: #2f3191;
			   text-decoration:none; 
			   background-color: #c1bfbf;
			   padding: 2px 5px; 
			   border:1px solid #c1bfbf;
			   font-weight:bold; }
A.pageResults:hover {
	color: #2f3191;
	text-decoration:none; 
	background-color: #c1bfbf;
	padding: 2px 5px; 
	border:1px solid #c1bfbf;
	font-weight:bold; 
}

TD.pageHeading, DIV.pageHeading {
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #9a9a9a;
}

TR.subBar {
	background: #f4f7fd;
}

TD.subBar {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
}

TD.main, P.main {
	font-family: "Simplified Arabic";
	font-size: 15px;
	line-height: 1.5;
}

TD.smallText, SPAN.smallText, P.smallText {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

TD.accountCategory {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #aabbdd;
}

TD.tableHeading {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

SPAN.newItemInCart {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #ff0000;
}

CHECKBOX, INPUT, RADIO, SELECT {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

TEXTAREA {
	width: 100%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

SPAN.greetUser {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #f0a480;
	font-weight: bold;
}

TABLE.formArea {
	background: #f1f9fe;
	border-color: #7b9ebd;
	border-style: solid;
	border-width: 1px;
}

TD.formAreaTitle {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

SPAN.markProductOutOfStock {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #c76170;
	font-weight: bold;
}

SPAN.productSpecialPrice {
	font-family: Verdana, Arial, sans-serif;
	color: #ff0000;
}

SPAN.errorText {
	font-family: Verdana, Arial, sans-serif;
	color: #ff0000;
}

.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #E9F4FC; }

.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* input requirement */

.inputRequirement { 	font-family: "Simplified Arabic"; font-size: 12px; color: #ff0000; font-weight:bold; }

/* buttons */

.tdbLink a { }

.tdbLink button { }

/* account link list */

.accountLinkList {
	list-style-type: none;
	margin: 2px 2px 2px 10px;
	padding: 5px;
}

.accountLinkListEntry {
	float: left;
	margin-right: 5px;
}
.clear {
	clear: both;
}
.searchfield {
	background-image:url('images/search-bg.png');
    background-color: #ffffff;
    border:1px  #f0f0f0 solid;
    color: #3e3e3e;
    font-family: "Simplified Arabic";
    font-size: 17px;
    font-weight: bold;
    height: 38px;
    margin-left: -3px;
    padding-right: 10px;
    text-align: right;
    width:651px;
}
.searchadvanced{
    background-color: #fff;
    border:1px  #007583 solid;
    color: #3e3e3e;
    font-family: "Simplified Arabic";
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin-left: -3px;
    padding-right: 10px;
    text-align: right;
    width:250px!important;
}
.selectadvanced{
    background-color: #fff;
    border:1px  #007583 solid;
    color: #3e3e3e;
    font-family: "Simplified Arabic";
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin-left: -3px;
    padding-right: 10px;
    text-align: right;
	margin:10px 0px 10px 10px; 
    width:233px!important;
}
.boxadvanced{ 
	background-color: #fff;
    border: 1px solid #007583;
    color: #3e3e3e;
    font-family: "Simplified Arabic";
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    margin: 10px;
    padding-right: 10px;
    text-align: right;
    width: 50px !important;}
.dateadvanced{ 
	background-color: #fff;
    border: 1px solid #007583;
    color: #3e3e3e;
    font-family:Arial ;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin: 10px;
    padding-left: 10px;
    text-align: left;
    width:100px !important;}
.searchBox{margin-top:5px; }

.productListingCatHeader {
	table-layout: fixed;
	color: #000;
	font-weight: bold;
	font-family: tahoma !important;
    font-size: 13px!important;
}

a.productListingCatHeader :hover,:visited {color: #007583;}
.productLink {
	color: #000;
	font-weight: 500;
	font-family: tahoma;
    font-size: 13px;
}
a.productLink :hover,:visited {color: #007583;}
.currency {color: #007583; font-weight: normal;font-family: arial;}
.price{float: left; color:#FFF;  margin: 10px 5px;font-family: arial;font-size: 18px; }
.featuredPrice{float: left; color:#00717f;  font-family: arial;font-size: 13px; font-weight:bold; margin-left: 14px; }
.green{color: #007583; font-weight:normal; }
.fontGreen{color: #007583; font-weight:normal;font-family: tahoma;font-size: 13px;  }
.parBgGray{ background-color: #eee; padding: 2px 3px; }
.marginTop{margin-top:30px; }
.bold{font-weight:bold; }
